@import "/src/styles/mixins.scss";

@media (min-width: 320px) {
  .container {
    display: flex;
    justify-content: flex-end;
    padding: 0;
  }

  #google-auth {
    border: none;
    background-color: transparent;
    margin: 5px 0;
  }

  .user {
    &__wrapper {
      position: relative;
      display: flex;
      padding: 5px;
      align-items: center;
      gap: 10px;
      margin: 4px 0;
      border-radius: 6px;
      background-color: var(--white-background);
      cursor: pointer;
      @include bg-transition;

      &:hover {
        background-color: var(--ligth-gray-background);
      }
    }

    &__logout {
      position: absolute;
      bottom: -50%;
      right: 5px;
      border-radius: 5px;
      padding: 5px 20px;
      border: none;
      bottom: -34px;
      cursor: pointer;
      color: var(--white);
      background-color: var(--blue-background);
    }

    &__img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 0;
    }
  }
}
