<header class="container">
  <button
    [ngClass]="{
      hide: hideGoogleBtn
    }"
    id="google-auth"
  ></button>

  <div
    *ngIf="userData.email"
    (click)="openLogoutBtn()"
    (mouseleave)="closeLogoutBtn()"
    class="user__wrapper"
  >
    <img class="user__img" [src]="userData.image" alt="user photo" />
    <div class="user__info">
      <h4>{{ userData.name }}</h4>
      <p>{{ userData.email }}</p>
    </div>
    <button class="user__logout-btn" (click)="logOut()" *ngIf="activeBtn">
      LogOut
    </button>
  </div>
</header>
