@import "/src/styles/mixins.scss";

@media (min-width: 320px) {
  .paginator {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: fit-content;
    margin-left: auto;
    gap: 10px;
    padding: 10px;
    border-radius: 4px;
    @include slide-shadow;

    &__info {
      min-width: 100px;
    }

    &__icon {
      width: 16px;
      height: 16px;
      stroke: var(--gray-icon);
      pointer-events: none;
    }

    &__btn {
      display: flex;
      align-items: center;
      background-color: var(--ligth-gray-background);
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: none;
      cursor: pointer;

      &:disabled {
        opacity: 0.4;
        cursor:auto
      }

      &:hover {
        background-color: var(--ligth-gray-hover);
        transition: background-color 100ms ease-in;
      }
    }
  }
}
