@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Bold"),
    url("../assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Medium"),
    url("../assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"),
    url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Light"),
    url("../assets/fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: "Roboto";
  font-weight: 400;
}

h1 {
  font-weight: 400;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.1px;
}

h4 {
  letter-spacing: 0.1px;
}

h5 {
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.1px;
  color: var(--gray-paragraph);
}
