:root {
  --black: #000;
  --white: #fff;
  --blue-background: #378eff;
  --gray-border: #21212114;
  --gray-input-border: #00000080;
  --gray-icon: #777;
  --gray-title: #8e8e93;
  --gray-paragraph: #00000099;
  --ligth-gray-border: #f2f2f7;
  --ligth-gray-background: #f1f1f1;
  --ligth-gray-hover: #dadada;
  --white-background: #f8f7f7;
}
