@media (min-width: 320px) {
  .nav {
    &__link {
      font-family: "Karla";
      font-weight: 700;
      padding: 24px;
      display: flex;
      gap: 8px;
      text-decoration: none;
      color: var(--black);
      letter-spacing: 1.3px;
    }
  }
}

@media (min-width: 768px) {
  .nav {
    &__link {
      padding: 22px 50px;
    }
  }
}
