<main class="container">
  <div class="logo__wrapper">
    <img
      class="logo__img"
      src="assets/images/logo.png"
      alt="rick-and-morty-logo"
    />
  </div>

  <app-input-search></app-input-search>

  <div *ngIf="slicedData.length" class="char__wrapper">
    <app-char-item
      [charItem]="item"
      *ngFor="let item of slicedData"
    ></app-char-item>
  </div>
  <app-pagination
    *ngIf="slicedData"
    [itemsPerPage]="8"
    [inputData]="data"
    (OutputEmit)="setDataForCurrent($event)"
  ></app-pagination>
</main>
