@media (min-width: 320px) {
  .char {
    &__wrapper {
      justify-content: center;
      display: grid;
      grid-template-columns: repeat(auto-fill, 312px);
      gap: 32px 26.5px;
    }

    &__item {
      border-radius: 4px;
      overflow: hidden;
      box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2),
        -5px 5px 10px 0px rgba(0, 0, 0, 0.2);
    }

    &__title {
      padding: 12px 16px;
    }

    &__img {
      width: 100%;
    }
  }
}

@media (min-width: 1024px) {
  .char {
    &__wrapper {
      grid-template-columns: repeat(auto-fill, 240px);
      gap: 24px 20px;
    }
  }
}
